####  Task 3 Create 'customer360' file with below columns (You need to aggregate the data at customer level. One customer will have one record) -
a. LYLTY_CARD_NBR
b. Lifestage
c. PREMIUM_CUSTOMER
d. Number of transactions
e. Average days between two transactions
f. Total Revenue
g. Total quantity
i. Total Sales
j. Total weight
k. Total distinct products purchased
l. Total distinct categories purchased
m. Total distinct flavors purchased
n. Total distinct sub categories purchased
o. Average Transaction value
p. Average price per product
q. Number of Transactions by each category (each category, you will get separate variable)
r. Sales by each category (each category, you will get separate variable)

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Data_1.csv')

In [4]:
data

,Transaction_Date,Store_Number,Loyalty_Card_Number,Transaction_ID,Product_Number,Product_Name,Product_Quantity,Total_Sales,Weight,Brand,Flavour,Category,Lifestage,Premium_Customer,Day,Month,Month_Name,Year,Day_of_Week,Weekend_Flag
0,2023-01-01,269,269175,266094,28,Thins Potato Chips Hot & Spicy 175g,2,6.6,175,Thin Chips,Spicy,Chips,MIDAGE SINGLES/COUPLES,Mainstream,1,1,Jan,2023,Sunday,True
1,2023-01-01,153,153187,152684,28,Thins Potato Chips Hot & Spicy 175g,2,6.6,175,Thin Chips,Spicy,Chips,OLDER FAMILIES,Mainstream,1,1,Jan,2023,Sunday,True
2,2023-01-01,123,123299,127308,28,Thins Potato Chips Hot & Spicy 175g,2,6.6,175,Thin Chips,Spicy,Chips,OLDER SINGLES/COUPLES,Mainstream,1,1,Jan,2023,Sunday,True
3,2023-01-01,238,238186,242612,28,Thins Potato Chips Hot & Spicy 175g,2,6.6,175,Thin Chips,Spicy,Chips,RETIREES,Mainstream,1,1,Jan,2023,Sunday,True
4,2023-01-01,144,144001,143893,28,Thins Potato Chips Hot & Spicy 175g,2,6.6,175,Thin Chips,Spicy,Chips,RETIREES,Mainstream,1,1,Jan,2023,Sunday,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72631,2023-12-31,51,51134,46841,54,CCs Original 175g,1,2.1,175,CCs Cheese,Original,Cheese,OLDER FAMILIES,Premium,31,12,Dec,2023,Sunday,True
72632,2023-12-31,41,41105,38022,50,Tostitos Lightly Salted 175g,1,4.4,175,Tostitos,Salted,Tostitos,YOUNG SINGLES/COUPLES,Mainstream,31,12,Dec,2023,Sunday,True
72633,2023-12-31,268,268194,264602,90,Tostitos Smoked Chipotle 175g,1,4.4,175,Tostitos,Chipotle,Tostitos,YOUNG FAMILIES,Premium,31,12,Dec,2023,Sunday,True
72634,2023-12-31,214,214235,213837,102,Kettle Mozzarella Basil & Pesto 175g,1,5.4,175,Kettle,Pesto,Kettle,YOUNG SINGLES/COUPLES,Budget,31,12,Dec,2023,Sunday,True
72635,2023-12-31,145,145116,145327,36,Kettle Chilli 175g,1,5.4,175,Kettle,Chilli,Kettle,OLDER FAMILIES,Mainstream,31,12,Dec,2023,Sunday,True

In [6]:
data.dtypes

Transaction_Date        object
Store_Number             int64
Loyalty_Card_Number      int64
Transaction_ID           int64
Product_Number           int64
Product_Name            object
Product_Quantity         int64
Total_Sales            float64
Weight                   int64
Brand                   object
Flavour                 object
Category                object
Lifestage               object
Premium_Customer        object
Day                      int64
Month                    int64
Month_Name              object
Year                     int64
Day_of_Week             object
Weekend_Flag              bool
dtype: object

In [7]:
# Converting 'Transaction_Date' to datetime format
data['Transaction_Date'] = pd.to_datetime(data['Transaction_Date'])

In [12]:
customer360 = data.groupby('Loyalty_Card_Number').agg({
    'Lifestage': 'first',
    'Premium_Customer': 'first',
    'Transaction_ID': 'nunique',    
    'Total_Sales': 'sum',  
    'Product_Quantity': 'sum',  
    'Total_Sales': 'sum',  
    'Weight': 'sum', 
    'Product_Number': 'nunique', 
    'Category': 'nunique', 
    'Flavour': 'nunique',   
    }).reset_index()

In [13]:
customer360['Average_Transaction_Value'] = customer360['Total_Sales'] / customer360['Transaction_ID']
customer360['Average_Price_Per_Product'] = customer360['Total_Sales'] / customer360['Product_Quantity']

In [14]:
category_transactions = data.pivot_table(index='Loyalty_Card_Number', columns='Category', values='Transaction_ID', aggfunc='count', fill_value=0)
category_sales = data.pivot_table(index='Loyalty_Card_Number', columns='Category', values='Total_Sales', aggfunc='sum', fill_value=0)

In [17]:
category_transactions

Category,Cheese,Chips,Crinkle,Infuzions,Kettle,Mexicana,Pringles,Puffs,RRD,Rings,Rock,Salsa,Sour,Sunbites,Thinly,Tostitos,Twisties,Tyrrells,Waves,Woolworths
Loyalty_Card_Number,,,,,,,,,,,,,,,,,,,,
1000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1004,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2370651,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2370701,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2370751,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2370961,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2373711,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
category_sales

Category,Cheese,Chips,Crinkle,Infuzions,Kettle,Mexicana,Pringles,Puffs,RRD,Rings,Rock,Salsa,Sour,Sunbites,Thinly,Tostitos,Twisties,Tyrrells,Waves,Woolworths
Loyalty_Card_Number,,,,,,,,,,,,,,,,,,,,
1000,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.7,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,3.6,0.0
1004,0.0,1.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.8,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2370651,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2370701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,7.2,0.0
2370751,0.0,0.0,0.0,0.0,9.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2370961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,8.4,0.0,0.0
2373711,0.0,0.0,11.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0

In [15]:
customer360 = pd.merge(customer360, category_transactions, on='Loyalty_Card_Number', how='left')
customer360 = pd.merge(customer360, category_sales, on='Loyalty_Card_Number', how='left', suffixes=('_Transactions', '_Sales'))

In [16]:
customer360

,Loyalty_Card_Number,Lifestage,Premium_Customer,Transaction_ID,Total_Sales,Product_Quantity,Weight,Product_Number,Category,Flavour,...,Rock_Sales,Salsa_Sales,Sour_Sales,Sunbites_Sales,Thinly_Sales,Tostitos_Sales,Twisties_Sales,Tyrrells_Sales,Waves_Sales,Woolworths_Sales
0,1000,YOUNG SINGLES/COUPLES,Premium,1,6.0,2,175,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,1002,YOUNG SINGLES/COUPLES,Mainstream,1,2.7,1,150,1,1,1,...,2.7,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,1003,YOUNG FAMILIES,Mainstream,1,3.6,1,210,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,3.6,0.0
3,1004,OLDER SINGLES/COUPLES,Mainstream,1,1.9,1,160,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
4,1005,MIDAGE SINGLES/COUPLES,Budget,1,2.8,1,165,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72631,2370651,MIDAGE SINGLES/COUPLES,Mainstream,1,13.0,2,380,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
72632,2370701,YOUNG FAMILIES,Premium,1,7.2,2,210,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,7.2,0.0
72633,2370751,YOUNG FAMILIES,Budget,1,9.2,2,150,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
72634,2370961,OLDER FAMILIES,Budget,1,8.4,2,165,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,8.4,0.0,0.0
72635,2373711,YOUNG SINGLES/COUPLES,Budget,1,11.4,2,330,1,1,1,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0

#### Create new column 'Customer_Segment' based on the 'Total sales' 
- High if Total Sales>$100, 
- Medium if Total Sales between $50 and $100,
- Low if Total sales < $50)

In [19]:
conditions = [
    (customer360['Total_Sales'] > 100),
    (customer360['Total_Sales'] >= 50) & (customer360['Total_Sales'] <= 100),
    (customer360['Total_Sales'] < 50)
]
segment_labels = ['High', 'Medium', 'Low']

In [20]:
customer360['Customer_Segment'] = pd.cut(customer360['Total_Sales'], bins=[0, 50, 100, float('inf')], labels=segment_labels, right=False)

In [21]:
customer360

,Loyalty_Card_Number,Lifestage,Premium_Customer,Transaction_ID,Total_Sales,Product_Quantity,Weight,Product_Number,Category,Flavour,...,Salsa_Sales,Sour_Sales,Sunbites_Sales,Thinly_Sales,Tostitos_Sales,Twisties_Sales,Tyrrells_Sales,Waves_Sales,Woolworths_Sales,Customer_Segment
0,1000,YOUNG SINGLES/COUPLES,Premium,1,6.0,2,175,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
1,1002,YOUNG SINGLES/COUPLES,Mainstream,1,2.7,1,150,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
2,1003,YOUNG FAMILIES,Mainstream,1,3.6,1,210,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,3.6,0.0,High
3,1004,OLDER SINGLES/COUPLES,Mainstream,1,1.9,1,160,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
4,1005,MIDAGE SINGLES/COUPLES,Budget,1,2.8,1,165,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72631,2370651,MIDAGE SINGLES/COUPLES,Mainstream,1,13.0,2,380,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
72632,2370701,YOUNG FAMILIES,Premium,1,7.2,2,210,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,7.2,0.0,High
72633,2370751,YOUNG FAMILIES,Budget,1,9.2,2,150,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
72634,2370961,OLDER FAMILIES,Budget,1,8.4,2,165,1,1,1,...,0.0,0,0.0,0,0.0,0.0,8.4,0.0,0.0,High
72635,2373711,YOUNG SINGLES/COUPLES,Budget,1,11.4,2,330,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High

In [22]:
correlation_matrix = customer360.corr()

C:\Users\DELL\AppData\Local\Temp\ipykernel_20216\2558231589.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = customer360.corr()

In [23]:
sales_correlations = correlation_matrix['Total_Sales'].sort_values(ascending=False)

In [24]:
top_correlations = sales_correlations[1:6]

In [25]:
top_correlations

Total_Sales                  1.000000
Average_Price_Per_Product    0.781696
Product_Quantity             0.660688
Kettle_Sales                 0.402450
Weight                       0.342119
Name: Total_Sales, dtype: float64

In [26]:
lifestage_sales = data.groupby('Lifestage')['Total_Sales'].sum().reset_index()

In [34]:
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency

In [28]:
lifestage_groups = [data[data['Lifestage'] == lifestage]['Total_Sales'] for lifestage in data['Lifestage'].unique()]
f_stat, p_value = f_oneway(*lifestage_groups)
print(f"ANOVA F-Statistic: {f_stat:.2f}, p-value: {p_value:.4f}")

ANOVA F-Statistic: 15.54, p-value: 0.0000

In [31]:
contingency_table = pd.crosstab(data['Lifestage'], data['Premium_Customer'])

In [32]:
contingency_table

Premium_Customer        Budget  Mainstream  Premium
Lifestage
MIDAGE SINGLES/COUPLES    1432        5240      603
NEW FAMILIES               571        1698      280
OLDER FAMILIES            1449        7698      632
OLDER SINGLES/COUPLES     2575       10980     1054
RETIREES                  2891       10696     1218
YOUNG FAMILIES            1406        7182      590
YOUNG SINGLES/COUPLES     3554        9161     1726

In [35]:
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("\nChi-square Test Results:")
print(f"Chi-square statistic: {chi2:.4f}")
print(f"P-value: {p:.4f}")
print(f"Degrees of freedom: {dof}")
print("Expected frequencies table:")
print(expected)

Chi-square Test Results:
Chi-square statistic: 1058.6972
P-value: 0.0000
Degrees of freedom: 12
Expected frequencies table:
[[ 1389.97811003  5273.76404262   611.25784735]
 [  487.01775979  1847.81093397   214.17130624]
 [ 1868.39806707  7088.95375571   821.64817721]
 [ 2791.22889476 10590.2981304   1227.47297483]
 [ 2828.67710226 10732.38167025  1243.94122749]
 [ 1753.56963489  6653.27922793   771.15113718]
 [ 2759.13043119 10468.51223911  1213.3573297 ]]

### Build Predictive Model to predict the sales using 'customer360' file.

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [38]:
customer360

,Loyalty_Card_Number,Lifestage,Premium_Customer,Transaction_ID,Total_Sales,Product_Quantity,Weight,Product_Number,Category,Flavour,...,Salsa_Sales,Sour_Sales,Sunbites_Sales,Thinly_Sales,Tostitos_Sales,Twisties_Sales,Tyrrells_Sales,Waves_Sales,Woolworths_Sales,Customer_Segment
0,1000,YOUNG SINGLES/COUPLES,Premium,1,6.0,2,175,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
1,1002,YOUNG SINGLES/COUPLES,Mainstream,1,2.7,1,150,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
2,1003,YOUNG FAMILIES,Mainstream,1,3.6,1,210,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,3.6,0.0,High
3,1004,OLDER SINGLES/COUPLES,Mainstream,1,1.9,1,160,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
4,1005,MIDAGE SINGLES/COUPLES,Budget,1,2.8,1,165,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72631,2370651,MIDAGE SINGLES/COUPLES,Mainstream,1,13.0,2,380,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
72632,2370701,YOUNG FAMILIES,Premium,1,7.2,2,210,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,7.2,0.0,High
72633,2370751,YOUNG FAMILIES,Budget,1,9.2,2,150,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High
72634,2370961,OLDER FAMILIES,Budget,1,8.4,2,165,1,1,1,...,0.0,0,0.0,0,0.0,0.0,8.4,0.0,0.0,High
72635,2373711,YOUNG SINGLES/COUPLES,Budget,1,11.4,2,330,1,1,1,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,High

In [45]:
X = customer360.drop(['Total_Sales', 'Loyalty_Card_Number',"Lifestage","Customer_Segment","Premium_Customer"], axis=1)
y = customer360['Total_Sales']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [48]:
model = LinearRegression()

In [49]:
model.fit(X_train_scaled, y_train)

LinearRegression()

In [50]:
y_pred = model.predict(X_test_scaled)

In [51]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [52]:
mse

6.37980057857288e-29

In [54]:
r2

1.0

In [55]:
print(f'Mean Squared Error (MSE): {mse:.2f}')
print(f'R-squared (R2): {r2:.2f}')

Mean Squared Error (MSE): 0.00
R-squared (R2): 1.00

In [57]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

In [58]:
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [59]:
y_pred_rf = rf_model.predict(X_test)

In [60]:
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

In [61]:
print(f'Random Forest Mean Squared Error (MSE): {mse_rf:.2f}')
print(f'Random Forest R-squared (R2): {r2_rf:.2f}')

Random Forest Mean Squared Error (MSE): 0.00
Random Forest R-squared (R2): 1.00

### Define a strategy to increase sales for the upcoming year.
Identify Top-Performing Products and Categories:Analyze past sales data to identify which products and categories have been the most sold. Focus on high-sold products and categories with consistent demand.

Seasonality and Trends:Identify seasonal trends and periods of peak sales. Plan marketing campaigns and stock inventory accordingly.only in the month of january sales and profit was very high ( may be due to new year) to be plan the sales forcast

Develop personalized marketing campaigns for each customer segment. Use targeted promotions and personalized recommendations to increase purchase frequency and basket size.

Need to focus on customer data to segment your customers based on demographics, purchase behavior, and loyalty. For example, segment by lifestage, premium customers, etc. as per data only OLDER SINGLES/COUPLES, RETIREES by Life stage and Mainstream customer are buying the products need to focus on rest customer by promotions and discounts

Improve In-Store Experience: Ensure that stores are well-stocked, clean, and provide excellent customer service. Train staff to be knowledgeable about products and customer service best practices.some of store are not peformaing well sales

Product Mix Optimization: Optimize the product mix based on sales performance. Focus on stocking high-demand items and reducing the shelf space for slow-moving products

New Product Introductions: Introduce new products based on market research and customer feedback. Monitor their performance closely and adjust the assortment as needed, as per insights only chips, kittle, pingle are in high sales

Collect Feedback: Regularly collect and analyze customer feedback to understand their needs and pain points. Use surveys, reviews, and direct customer interactions as sources of feedback.

#### Implementation plan
Quarter 1: Conduct a thorough analysis of historical sales data and customer segmentation. Plan and launch personalized marketing campaigns.

Quarter 2: Optimize product assortment based on analysis. Implement CRM and advanced analytics tools. Plan and execute seasonal promotions.

Quarter 3: Roll out new product introductions. Enhance in-store experience and launch omnichannel initiatives. Invest in digital marketing campaigns.

Quarter 4: Evaluate the effectiveness of implemented strategies. Collect feedback and make necessary adjustments. Plan for the next year's strategy based on insights and performance.